.post__image {
  width: 100%;
  object-fit: contain;
}

.post__text {
  font-weight: 500;
}

.post__username {
  font-weight: normal;
}


.post__header {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.post__avatar {
  margin-right: 10px;
}
