*,
*::after,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
main {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.app {
  background-color: #fffaed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.app > * {
  width: inherit;
}

.app h1 {
  text-align: center;
}

.app .app__header span {
  font-weight: 600;
  font-size: 2em;
}

.app .post {
  max-width: 600px;
}

.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
